

.page{
    background-color: var(--background);
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 80vh;
    width: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: repeat(12,1fr);
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: 
    ". . . . . . . . . . . ."
    "s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2"
    "s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2"
    "s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2"
    "s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2"
    "s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2"
    "s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2"
    "s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2"
    "s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2"
    "s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2"
    "s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2"
    "s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2 s2"

}

.page{
    grid-area: page;
}

.titleDiv{
    grid-area: s1;
    display: flex;
    align-items: start;
}

.slider {
    grid-area: s2;
}






        .slider {
            width: 100%;
            overflow: hidden;
            mask-image: linear-gradient(
            to right,
            transparent,
            #000 10% 90%,
            transparent
        );
        }


        .slider {
        grid-area: s2;
        perspective: 1000px; 
        overflow: visible;
        padding-top: 87px;

        }
        
        
        .list .item {
        transform-style: preserve-3d;
        transition: transform 0.4s ease;
        }
        

        .list .item:hover {
        transform: translateZ(300px) scale(1.1);
        z-index: 20;
        }

        .list .item:hover + * {
        transform: translateZ(180px) scale(1.06) rotateY(15deg);
        z-index: 15;
        }

        .list .item:hover + * + * {
        transform: translateZ(100px) scale(1.03) rotateY(8deg);
        z-index: 10;
        }

        .list .item:has(+ * :hover){
        transform: translateZ(180px) scale(1.06) rotateY(15deg);
        z-index: 15;
        }

        .list .item:has(+ * + * :hover){
        transform: translateZ(100px) scale(1.03) rotateY(8deg);
        z-index: 10;
        }

        .slider .list {
            display: flex;
            width: 100%;
            min-width: calc(var(--width) * var(--quant));
            position: relative;
        }

        .slider .list .item {
            width: var(--width);
            height: var(--height);
            position: absolute;
            left: 100%;
            animation: autoRun 20s linear infinite;
            animation-delay: calc((-20s / var(--quant)) * (var(--position) - 1));
        }

        .slider:hover .item{
            animation-play-state: paused!important;
        }

        .slider .list .item img {
            width: 100%;
            border-radius: 20px;
        }

        @keyframes autoRun {
            from {
                left: 100%;
            }
            to {
                left: calc(var(--width) * -1);
            }
        }


