@keyframes movebody {
  0% { transform: translateX(0%); }
  50% { transform: translateX(2%); }
  100% { transform: translateX(0%); }
}

@keyframes moveleg {
  0% { transform: rotate(-45deg) translateX(-5%); }
  50% { transform: rotate(45deg) translateX(5%); }
  100% { transform: rotate(-45deg) translateX(-5%); }
}

@keyframes moveleg2 {
  0% { transform: rotate(45deg); }
  50% { transform: rotate(-45deg); }
  100% { transform: rotate(45deg); }
}

@keyframes moveline {
  0% { transform: translateX(0%); opacity: 0%; }
  5% { opacity: 100%; }
  95% { opacity: 100%; }
  100% { transform: translateX(-70%); opacity: 0%; }
}

/* Custom animation classes */
.animate-movebody {
  animation: movebody 1s linear infinite;
}

.animate-moveleg {
  animation: moveleg 1s linear infinite;
}

.animate-moveleg2 {
  animation: moveleg2 1s linear infinite 0.075s;
}

.animate-moveline {
  animation: moveline 10s linear infinite;
}
