
.hero {
  height: 100vh;
  position: relative;
  display: grid;
  background-color: var(--background);
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas: 
    ". . . . . . . . . ."
    ". . r1 r1 r1 r1 r1 r1 . ."
    ". . r1 r1 r1 r1 r1 r1 . ."
    "r2 r2 r2 r2 r2 r2 r3 r3 r3 r3"
    "r2 r2 r2 r2 r2 r2 r3 r3 r3 r3"
    "r2 r2 r2 r2 r2 r2 r3 r3 r3 r3"
    "r2 r2 r2 r2 r2 r2 r3 r3 r3 r3"
    "r2 r2 r2 r2 r2 r2 r3 r3 r3 r3"
    "r2 r2 r2 r2 r2 r2 r3 r3 r3 r3"
    ". . . . . . . . . .";
}

.hero-header {
  grid-area: r1;
  display: flex;
  align-items: end;
  justify-content: center;
}

.name-front {
  position: absolute;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(3.75rem, 15.63vw, 14.0625rem);
  line-height: 1;
  color: var(--text);
}

.left {
  grid-area: r2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    "s3 s3 s3 s1 s1 s1 s1 . . ."
    ". . . s1 s1 s1 s1 . . ."
    ". . . s1 s1 s1 s1 . . ."
    ". . . s1 s1 s1 s1 . . ."
    ". . . s1 s1 s1 s1 . . ."
    ". . . s1 s1 s1 s1 s4 s4 s4"
    ". . . . . . . . . ."
    ". . . . . . . . . .";
  position: relative;
}

.Hero-pic { 
  grid-area: s1; 
  width: 100%; 
  transform: scale(1.5);
}

.full-name { 
  grid-area: s3; 
  width: 90%; 
  height: 75%;
}

.dob { 
  grid-area: s4; 
  width: 90%; 
  height: 75%;
}

.full-name, .dob {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: var(--secondary);
  color: var(--background);
  font-family: 'jua';
  font-size: 2vh;
  border-radius: clamp(0.5rem, 0.9vw, 0.8125rem);
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}



.Hero-pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.right {
  grid-area: r3;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--background);
}

.container{
    perspective: 800px;

}

.content-heading-1 {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(1.875rem, 7.8vw, 7rem);
  line-height: 1;
  color: var(--primary); 
  
}

.content-heading-1:hover{
  color: var(--secondary);
    transform: translateZ(10px) ;
    transform-style: preserve-3d;

}

.content-heading-2 {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(.9rem, 4vw, 3.5rem);
  line-height: 1;
  color: var(--secondary);
}

.content-heading-2:hover{
  color: var(--primary);
  transform: translateZ(10px) ;
  transform-style: preserve-3d;

}

.content-content {
  margin: 0;
  font-family: 'jua', sans-serif;
  font-size: clamp(.30rem,1.5vw,1.50rem);
  color: var(--text);
}


@media (max-width: 768px) {
.full-name, .dob {
  font-size: 1vh;
}
.full-name{
  transform: translateX(25%);
}
.dob{
  transform: translate(-25%);
}
.hero{
  grid-template-areas: 
    ". . . . . . . . . ."
    ". . r1 r1 r1 r1 r1 r1 . ."
    ". . r1 r1 r1 r1 r1 r1 . ."
    "r2 r2 r2 r2 r2 r2 r2 r2 r2 r2"
    "r2 r2 r2 r2 r2 r2 r2 r2 r2 r2"
    "r2 r2 r2 r2 r2 r2 r2 r2 r2 r2"
    "r3 r3 r3 r3 r3 r3 r3 r3 r3 r3"
    "r3 r3 r3 r3 r3 r3 r3 r3 r3 r3"
    "r3 r3 r3 r3 r3 r3 r3 r3 r3 r3"
    ". . . . . . . . . .";
}
.content-heading-1 {
  font-size: clamp(2.5rem, 10.4vw, 9.33rem);
}

.content-heading-2 {
  font-size: clamp(1.2rem, 5.33vw, 4.67rem);
}

.content-content {
  font-size: clamp(0.6rem, 3vw, 3rem);
}

}


/*.left {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    "s3 s3 s3 s1 s1 s1 s1 . . ."
    ". . . s1 s1 s1 s1 . . ."
    ". . . s1 s1 s1 s1 . . ."
    ". . . s1 s1 s1 s1 . . ."
    ". . . s1 s1 s1 s1 . . ."
    ". . . s1 s1 s1 s1 s4 s4 s4"
    ". . . . . . . . . ."
    ". . . . . . . . . .";
  position: relative;
}

.Hero-pic { 
  grid-area: s1; 
}

.full-name { 
  grid-area: s3; 

}

.dob { 
  grid-area: s4; 
*/