.skill2Box{
        background-color: var(--secondaryBackground);
    height: 100%;
    width: 100%;
    border-radius: 16px;
}
.heading{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 100%;
    font-family: jua;

    display: grid;
    grid-template-columns: repeat(3,33.33%) ;
    grid-template-rows: repeat(5,20%);
    grid-template-areas:
    ". . ." 
    ". l3 l5"
    ". l1 ."
    "l2 . l4"
    ". . ." 
    ;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(5rem, 10vw, 7.5rem); /* scales with viewport */
    color: white; /* Text fill color */
    -webkit-text-stroke: 4px #ddd; /* Stroke width and color */
    white-space: nowrap;
    grid-area: l1;
}

.float{
    color: wheat;
    display: flex;
    font-size: 4vh;
}
.float1 {
    justify-content: end;
    grid-area: l2;
    transform: translateY(-25%) translateX(-15%);
}
.float2 {
    align-items: end;
    grid-area: l3;
    transform: translateY(20%);
}
.float3 {
    align-items: start;
    grid-area: l4;
    transform: translateY(-40%) translateX(20%);
}
.float4 {
    align-items: end;
    justify-content: center;
    grid-area: l5;
    transform: translateY(20%);
}

@media (max-width: 768px){
    .head{
    font-size: clamp(5rem, 10vw, 7.5rem); /* scales with viewport */
    }
    .heading{
        grid-template-areas:
        ". l3 l5" 
        ". . ."
        ". l1 ."
        ". . ."
        "l2 . l4" 
        ;
        }
}