.heading{
    animation: appear-right 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

.animate-slide-in{
    animation: appear-left 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

@keyframes appear-right {
    0%{
        opacity: 0;
        transform: translate(+200px);
    }100%{
        opacity: 1;
    }
}

@keyframes appear-left {
    0%{
        opacity: 0%;
        transform: translate(-200px);
    }100%{
        opacity: 1;
    }
}